In [2]:
import pandas as pd

In [4]:
df = pd.read_csv(r"C:\Users\boluw\PYTHON\GOMYCODE\MACHINE LEARNING\Checkpoint\5G_energy_consumption_dataset.csv")

In [ ]:
df.head()

In [ ]:
df.info()

In [14]:
df.describe()

             Energy          load        ESMODE       TXpower
count  92629.000000  92629.000000  92629.000000  92629.000000
mean      28.138997      0.244705      0.081361      6.765427
std       13.934645      0.234677      0.382317      0.309929
min        0.747384      0.000000      0.000000      5.381166
25%       18.236173      0.057370      0.000000      6.427504
50%       24.065770      0.165550      0.000000      6.875934
75%       35.724963      0.363766      0.000000      6.875934
max      100.000000      0.993957      4.000000      8.375336

In [43]:
df['Time'] = pd.to_datetime(df['Time'], format='%Y%m%d %H%M%S')

In [45]:
df.head()

                 Time   BS     Energy      load  ESMODE   TXpower  BS_encoded
0 2023-01-01 01:00:00  B_0  64.275037  0.487936     0.0  7.101719   73.087415
1 2023-01-01 02:00:00  B_0  55.904335  0.344468     0.0  7.101719   73.087415
2 2023-01-01 03:00:00  B_0  57.698057  0.193766     0.0  7.101719   73.087415
3 2023-01-01 04:00:00  B_0  55.156951  0.222383     0.0  7.101719   73.087415
4 2023-01-01 05:00:00  B_0  56.053812  0.175436     0.0  7.101719   73.087415

In [47]:
df.duplicated().sum()

0

In [49]:
df.isnull().sum()

Time          0
BS            0
Energy        0
load          0
ESMODE        0
TXpower       0
BS_encoded    0
dtype: int64

In [59]:
# extract year, month, day, hour, and seconds from the 'Time' column
df['Year'] = df['Time'].dt.year
df['Month'] = df['Time'].dt.month
df['Day'] = df['Time'].dt.day
df['Hour'] = df['Time'].dt.hour
df['Seconds'] = df['Time'].dt.second

In [61]:
pip install category_encoders

Requirement already satisfied: category_encoders in c:\users\boluw\anaconda3\lib\site-packages (2.8.1)
Requirement already satisfied: numpy>=1.14.0 in c:\users\boluw\anaconda3\lib\site-packages (from category_encoders) (1.26.4)
Requirement already satisfied: pandas>=1.0.5 in c:\users\boluw\anaconda3\lib\site-packages (from category_encoders) (2.2.2)
Requirement already satisfied: patsy>=0.5.1 in c:\users\boluw\anaconda3\lib\site-packages (from category_encoders) (0.5.6)
Requirement already satisfied: scikit-learn>=1.6.0 in c:\users\boluw\anaconda3\lib\site-packages (from category_encoders) (1.6.1)
Requirement already satisfied: scipy>=1.0.0 in c:\users\boluw\anaconda3\lib\site-packages (from category_encoders) (1.13.1)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\boluw\anaconda3\lib\site-packages (from category_encoders) (0.14.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\boluw\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\boluw\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\boluw\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2023.3)
Requirement already satisfied: six in c:\users\boluw\anaconda3\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\boluw\anaconda3\lib\site-packages (from scikit-learn>=1.6.0->category_encoders) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\boluw\anaconda3\lib\site-packages (from scikit-learn>=1.6.0->category_encoders) (3.5.0)
Requirement already satisfied: packaging>=21.3 in c:\users\boluw\anaconda3\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (24.1)
Note: you may need to restart the kernel to use updated packages.

In [62]:
from category_encoders.target_encoder import TargetEncoder

# Create a target encoder
te = TargetEncoder()

# Fit the target encoder to the data
te.fit(df['BS'], df['Energy'])

# Transform the BS column using target encoding
df['BS_encoded'] = te.transform(df['BS'])

In [ ]:
print(df['BS_encoded'].unique())

In [67]:
df.head()

,Time,BS,Energy,load,ESMODE,TXpower,BS_encoded,Year,Month,Day,Hour,Seconds
0,2023-01-01 01:00:00,B_0,64.275037,0.487936,0.0,7.101719,73.087415,2023,1,1,1,0
1,2023-01-01 02:00:00,B_0,55.904335,0.344468,0.0,7.101719,73.087415,2023,1,1,2,0
2,2023-01-01 03:00:00,B_0,57.698057,0.193766,0.0,7.101719,73.087415,2023,1,1,3,0
3,2023-01-01 04:00:00,B_0,55.156951,0.222383,0.0,7.101719,73.087415,2023,1,1,4,0
4,2023-01-01 05:00:00,B_0,56.053812,0.175436,0.0,7.101719,73.087415,2023,1,1,5,0

In [69]:
selected_features=['Time','Energy','load','ESMODE','TXpower','Day','Hour','BS_encoded']
correlation_matrix = df[selected_features].corr()
correlation_matrix

,Time,Energy,load,ESMODE,TXpower,Day,Hour,BS_encoded
Time,1.000000,0.030404,0.066937,-0.032436,-0.038777,0.987834,0.132592,0.007711
Energy,0.030404,1.000000,0.643022,-0.271783,0.450760,-0.001294,0.203709,0.922452
load,0.066937,0.643022,1.000000,-0.208473,0.200221,0.016688,0.323958,0.487335
ESMODE,-0.032436,-0.271783,-0.208473,1.000000,0.060017,0.004096,-0.234626,-0.142792
TXpower,-0.038777,0.450760,0.200221,0.060017,1.000000,-0.039210,0.000630,0.491489
Day,0.987834,-0.001294,0.016688,0.004096,-0.039210,1.000000,-0.023159,0.007395
Hour,0.132592,0.203709,0.323958,-0.234626,0.000630,-0.023159,1.000000,0.002438
BS_encoded,0.007711,0.922452,0.487335,-0.142792,0.491489,0.007395,0.002438,1.000000

In [71]:
from sklearn.model_selection import train_test_split

In [73]:
X = df.drop(columns=['Energy','Day','BS','Year','Month','Day','Seconds','Time'])
y= df['Energy']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(X_train.columns)

Index(['load', 'ESMODE', 'TXpower', 'BS_encoded', 'Hour'], dtype='object')

In [81]:
from sklearn.linear_model import LinearRegression  # To create and train a linear regression model
from sklearn.metrics import mean_squared_error  # To evaluate the model using Mean Squared Error (MSE)
from sklearn.metrics import r2_score  # To evaluate the model using R-squared (RÂ²)

In [85]:
pip install --upgrade scikit-learn

Requirement already satisfied: scikit-learn in c:\users\boluw\anaconda3\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\boluw\anaconda3\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\boluw\anaconda3\lib\site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\boluw\anaconda3\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\boluw\anaconda3\lib\site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

In [79]:
# Initialize the model
lin_reg = LinearRegression()

# Fit the model
lin_reg.fit(X_train, y_train)

# Predicting on test data
y_pred = lin_reg.predict(X_test)

# Model evaluation
print("Linear Regression RMSE:", mean_squared_error(y_test, y_pred))
print("Linear Regression R2 Score:", r2_score(y_test, y_pred))

Linear Regression RMSE: 14.976882793435552
Linear Regression R2 Score: 0.9210938363967964

In [91]:
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.tree import DecisionTreeRegressor

# Initialize a Decision Tree Regressor model
des_tree= DecisionTreeRegressor()

# Train the model using the training data (X_train) and the corresponding target values (y_train)
des_tree.fit(X_train, y_train)

y_pred = des_tree.predict(X_test)
#Model evaluation
print("Linear Regression RMSE:", mean_squared_error(y_test, y_pred,squared=False))
print("Linear Regression R2 Score:", r2_score(y_test, y_pred))

TypeError: got an unexpected keyword argument 'squared'