In [1]:
# Import necessary libraries
import numpy as np  # Import NumPy for numerical operations
import pandas as pd  # Import Pandas for data manipulation
import matplotlib.pyplot as plt  # Import Matplotlib for plotting
import seaborn as sns  # Import Seaborn for enhanced plotting capabilities
from sklearn.cluster import KMeans  # Import KMeans from scikit-learn for clustering
from sklearn.preprocessing import StandardScaler  # Import StandardScaler from scikit-learn for data scaling

In [3]:
import pandas as pd 
df = pd.read_csv(r"C:\Users\boluw\PYTHON\GOMYCODE\MACHINE LEARNING\Checkpoint\Electric_cars_dataset.csv")
df.head()

,ID,VIN (1-10),County,City,State,ZIP Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,Expected Price ($1k)
0,EV33174,5YJ3E1EC6L,Snohomish,LYNNWOOD,WA,98037.0,2020.0,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,308,0,32.0,109821694,POINT (-122.287614 47.83874),PUGET SOUND ENERGY INC,50
1,EV40247,JN1AZ0CP8B,Skagit,BELLINGHAM,WA,98229.0,2011.0,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,73,0,40.0,137375528,POINT (-122.414936 48.709388),PUGET SOUND ENERGY INC,15
2,EV12248,WBY1Z2C56F,Pierce,TACOMA,WA,98422.0,2015.0,BMW,I3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,81,0,27.0,150627382,POINT (-122.396286 47.293138),BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,18
3,EV55713,1G1RD6E44D,King,REDMOND,WA,98053.0,2013.0,CHEVROLET,VOLT,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,38,0,45.0,258766301,POINT (-122.024951 47.670286),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),33.9
4,EV28799,1G1FY6S05K,Pierce,PUYALLUP,WA,98375.0,2019.0,CHEVROLET,BOLT EV,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,238,0,25.0,296998138,POINT (-122.321062 47.103797),BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,41.78

In [5]:
print(df['Base MSRP'].value_counts())

Base MSRP
0         61263
69900      1062
34600       359
31950       305
28500       148
52900       143
38500       127
32250       113
59900       105
54950       101
39995        79
33950        64
44100        63
36900        56
64950        51
45600        42
36800        40
52650        38
34995        34
55700        31
98950        14
110950       14
53400        14
75095        12
90700        12
102000       11
81100        11
35390         9
184400        9
43700         7
109000        6
89100         5
66300         1
91250         1
32995         1
845000        1
32000         1
Name: count, dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64353 entries, 0 to 64352
Data columns (total 18 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   ID                                                 64353 non-null  object
 1   VIN (1-10)                                         64353 non-null  object
 2   County                                             64349 non-null  object
 3   City                                               64344 non-null  object
 4   State                                              64342 non-null  object
 5   ZIP Code                                           64347 non-null  float64
 6   Model Year                                         64346 non-null  float64
 7   Make                                               64349 non-null  object
 8   Model                                              64340 non-null  object
 9   Electric Vehicle Type                              64353 non-null  object
 10  Clean Alternative Fuel Vehicle (CAFV) Eligibility  64353 non-null  object
 11  Electric Range                                     64353 non-null  int64
 12  Base MSRP                                          64353 non-null  int64
 13  Legislative District                               64184 non-null  float64
 14  DOL Vehicle ID                                     64353 non-null  int64
 15  Vehicle Location                                   63843 non-null  object
 16  Electric Utility                                   63631 non-null  object
 17  Expected Price ($1k)                               64353 non-null  object
dtypes: float64(3), int64(3), object(12)
memory usage: 8.8+ MB

In [9]:
df.describe()

,ZIP Code,Model Year,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID
count,64347.000000,64346.000000,64353.000000,64353.000000,64184.000000,6.435300e+04
mean,98143.452888,2018.186212,106.948985,2524.990754,29.951904,1.972905e+08
std,2856.064329,2.726742,104.093919,12402.895104,14.661124,1.069466e+08
min,745.000000,1993.000000,0.000000,0.000000,0.000000,4.385000e+03
25%,98052.000000,2017.000000,14.000000,0.000000,19.000000,1.372865e+08
50%,98121.000000,2018.000000,73.000000,0.000000,34.000000,1.753776e+08
75%,98370.000000,2021.000000,215.000000,0.000000,43.000000,2.299039e+08
max,99701.000000,2022.000000,337.000000,845000.000000,49.000000,4.789346e+08

In [11]:
df.shape

(64353, 18)

In [13]:
df.isnull().sum()

ID                                                     0
VIN (1-10)                                             0
County                                                 4
City                                                   9
State                                                 11
ZIP Code                                               6
Model Year                                             7
Make                                                   4
Model                                                 13
Electric Vehicle Type                                  0
Clean Alternative Fuel Vehicle (CAFV) Eligibility      0
Electric Range                                         0
Base MSRP                                              0
Legislative District                                 169
DOL Vehicle ID                                         0
Vehicle Location                                     510
Electric Utility                                     722
Expected Price ($1k)                                   0
dtype: int64

In [15]:
# Replace 'N/' with NaN 
df["Expected Price ($1k)"] = df["Expected Price ($1k)"].replace(['N/', 'NA', ''], np.nan)
df["Expected Price ($1k)"] = pd.to_numeric(df["Expected Price ($1k)"], errors='coerce')

In [17]:
df['Expected Price ($1k)'].unique

<bound method Series.unique of 0        50.000
1        15.000
2        18.000
3        33.900
4        41.780
          ...
64348    33.000
64349    13.300
64350    22.857
64351    45.700
64352    35.000
Name: Expected Price ($1k), Length: 64353, dtype: float64>

In [ ]:
df[df["Expected Price ($1k)"].isnull()]

In [ ]:
df.dropna()

In [23]:
df.isnull().sum()

ID                                                     0
VIN (1-10)                                             0
County                                                 4
City                                                   9
State                                                 11
ZIP Code                                               6
Model Year                                             7
Make                                                   4
Model                                                 13
Electric Vehicle Type                                  0
Clean Alternative Fuel Vehicle (CAFV) Eligibility      0
Electric Range                                         0
Base MSRP                                              0
Legislative District                                 169
DOL Vehicle ID                                         0
Vehicle Location                                     510
Electric Utility                                     722
Expected Price ($1k)                                  13
dtype: int64

In [25]:
df.dropna(subset = ["Expected Price ($1k)"],inplace = True)